<div class="container">
  <header class="headerClass">
    <h1 class="logo">
      {{#link-to "index" class="homepageLinkClass"}}
        SAMOCA - San Angelico Museum of Contemporary Art
      {{/link-to}}
    </h1>
  </header>
  <nav class="navClass centerText">
    {{#link-to "about" class="btn btn-primary"}}About{{/link-to}}
    <a href="#" class="btn btn-primary">Collections</a>
    <a href="#" class="btn btn-primary">Exhibits</a>
    <a href="#" class="btn btn-primary">Visitor Notes</a>
  </nav>

  <main class="mainClass cf">{{outlet}}</main>
  <footer class="footerClass centerText cf">
    <small>&copy; San Angelico Museum of Contemporary Art, 123 Main Street, Ventura, CA 12345 (800)555-1212</small>
  </footer>
</div>
