<div class="container">
  <header class="headerClass">
    <h1 class="logo">
      <a href="#" class="homepageLinkClass">
        SAMOCA - San Angelico Museum of Contemporary Art
      </a>
    </h1>
  </header>
  <nav class="navClass centerText">
    <a href="#" class="btn btn-primary">About</a>
    <a href="#" class="btn btn-primary">Collections</a>
    <a href="#" class="btn btn-primary">Exhibits</a>
    <a href="#" class="btn btn-primary">Visitor Notes</a>
  </nav>

  {{outlet}}

  <main class="mainClass cf"></main>
  <footer class="footerClass centerText cf">
    <small>&copy; San Angelico Museum of Contemporary Art, 123 Main Street, Ventura, CA 12345 (800)555-1212</small>
  </footer>
</div>
