<article class="singleExhibitContent">
  <h2>{{exhibitTitle}}</h2>
  <p>
    <img {{ bind-attr src=image }} class="singleExhibitImage imageBorder" align="left">
    {{exhibit_info}}
  </p>
</article>
